# Database Configuration
# Local SQLite Dev: file:./dev.db
# Production PostgreSQL: postgresql://mercator_admin:mercator_secure_password_2026@postgres:5432/mercator_atlas_prod?schema=public
DATABASE_URL="file:./dev.db"

# Facility Settings
NEXT_PUBLIC_FACILITY_CODE="DA-PI-2026"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
